.main-div-father
{
    margin: 0 auto;
    margin-top: 20px;
    width: 1150px;
    height: 1200px;
    max-width: 1150px;
    max-height: 1200px;
    min-width: 1150px;
    min-height: 1200;
}
.div-full-image
{
    position: relative;
    width: 600px;
    height: 350px;
    max-width: 600px;
    max-height: 350px;
    min-width: 600px;
    min-height: 350;
    top: 20px;
    left: 20px;
}
.full-image
{
    position: relative;
    width: 600px;
    height: 350px;
    max-width: 600px;
    max-height: 350px;
    min-width: 600px;
    min-height: 350;
    top: 20px;
    left: 20px;

}