#div-login-page
{
    position: relative;
    height: 350px;
    width: 500px;
    top: 50px;
    left: 35%;
    padding-top: 30px;

    border-style: inset;
    border-radius: 5px;
    border-width: 1px;
    border-color: #000;
    background-color: #ffffff;
}

#div-register-page
{
    position: relative;
    height: 520px;
    width: 500px;
    top: 50px;
    left: 35%;
    padding-top: 30px;

    border-style: inset;
    border-radius: 5px;
    border-width: 1px;
    border-color: #000;
    background-color: #ffffff;
}
